// 이 파일을 Secrets.xcconfig로 복사한 뒤 값을 채우세요. (Secrets.xcconfig는 git에 올라가지 않아요)
KAKAO_NATIVE_APP_KEY = 여기에_카카오_네이티브_앱_키
// GoogleService-Info.plist의 CLIENT_ID / REVERSED_CLIENT_ID
GOOGLE_IOS_CLIENT_ID = 000000000000-xxxxxxxx.apps.googleusercontent.com
GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.000000000000-xxxxxxxx
